/******************
* Carousel o Slider  de las 5 estrategias
******************/

.sliderContainer {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: black;
}

#sliderContent {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#sliderArrows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
}

#slideLeft {
  margin-left: 15px;
  cursor: pointer;
  z-index: 3;
}

#slideRight {
  margin-right: 15px;
  cursor: pointer;
  z-index: 3;
}

#sliderImages {
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  transition: ease 0.6s;
  max-height: 500px;
  max-width: 900px;
}

#sliderImages img {
  width: 100%;
  height: auto;

}

#sliderIndicators {
  width: 100%;
  height: 100%;
  color: black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
}

.indicator {
  margin: 0 0 10px 5px;
  cursor: pointer;
}

.indicator.active {
  color: white;
}



/******************
* Carousel o Slider de los testimonios de nuestros clientes dicen 
******************/

.itemPosition {
  display: flex;
}

.centerPosition {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials p {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
  max-width: 75ch;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}

/* Imagen */
.testimonials .carousel-inner .carousel-item .team {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 5px;

}

.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin: initial;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 14px;
  font-weight: 300;
  color: #e2e1e1;
  margin-bottom: 20px;
}

.testimonials .carousel-indicators {
  bottom: -40px;
}

.testimonials .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.testimonials .carousel-indicators .active {
  background-color: #F56F01;
}

.testimonials .control span {
  cursor: pointer;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}