/******************
* Carousel o Slider  de las 5 estrategias
******************/

.sliderContainer {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: black;
}

#sliderContent {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#sliderArrows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
}

#slideLeft {
  margin-left: 15px;
  cursor: pointer;
  z-index: 3;
}

#slideRight {
  margin-right: 15px;
  cursor: pointer;
  z-index: 3;
}

#sliderImages {
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  transition: ease 0.6s;
  max-height: 500px;
  max-width: 900px;
}

#sliderImages img {
  width: 100%;
  height: auto;

}

#sliderIndicators {
  width: 100%;
  height: 100%;
  color: black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
}

.indicator {
  margin: 0 0 10px 5px;
  cursor: pointer;
}

.indicator.active {
  color: white;
}



/******************
* Carousel o Slider de los testimonios de nuestros clientes dicen 
******************/

.itemPosition {
  display: flex;
}

.centerPosition {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials p {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
  max-width: 75ch;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}


.testimonials .carousel-inner .carousel-item .team {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 5px;

}

.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin: initial;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 14px;
  font-weight: 300;
  color: #e2e1e1;
  margin-bottom: 20px;
}

.testimonials .carousel-indicators {
  bottom: -40px;
}

.testimonials .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.testimonials .carousel-indicators .active {
  background-color: #F56F01;
}

.testimonials .control span {
  cursor: pointer;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}


/****************
*  Carousel o Slider Nuestros Expertos (Equipo)
****************/
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.elementor-element-slider-testimonial .jw-testimonials__item-inner {
  margin: 30px 30px 30px 30px;
}

.elementor-element-slider-testimonial .jw-testimonials__tag-img {
  width: 65px;
  height: 65px;
}

.elementor-element-slider-testimonial .jw-testimonials__figure {
  border-radius: 50px 50px 50px 50px;
  margin: 0px 0px 0px 0px;
  align-self: flex-start;
  order: 4;
}

.elementor-element-slider-testimonial .jw-testimonials__instance .jw-slick-dots li span {
  background-color: var(--e-global-color-text);
  width: 8px;
  height: 8px;
}

.elementor-element-slider-testimonial .jw-testimonials__instance .jw-slick-dots li span:hover,
.elementor-element-slider-testimonial .jw-testimonials__instance .jw-slick-dots li.slick-active span {
  background-color: var(--e-global-color-accent);
  width: 10px;
  height: 10px;
}

.elementor-element-slider-testimonial .jw-testimonials__instance .jw-slick-dots li {
  padding-left: 5px;
  padding-right: 5px;
}

.elementor-element-slider-testimonial .jw-testimonials__instance .jw-slick-dots {
  justify-content: flex-start;
}

.elementor-element-slider-testimonial .jw-testimonials__icon {
  align-self: center;
  order: 2;
}

.elementor-element-slider-testimonial .jw-testimonials__title {
  align-self: center;
  text-align: center;
  order: 3;
}

.elementor-element-slider-testimonial .jw-testimonials__comment {
  color: #ffffff;
  width: 100%;
  background-color: #FFFFFF00;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
  align-self: flex-start;
  text-align: left;
  order: 1;
}

.elementor-element-slider-testimonial .jw-testimonials__name {
  color: var(--e-global-color-text);
  padding: 0px 0px 0px 90px;
  margin: -60px 0px 0px 0px;
  align-self: flex-start;
  text-align: left;
  order: 5;
}

.elementor-element-slider-testimonial .jw-testimonials__position {
  color: var(--e-global-color-accent);
  padding: 0px 0px 0px 90px;
  margin: 5px 0px 0px 0px;
  align-self: flex-start;
  text-align: left;
  order: 6;
}

.elementor-element-slider-testimonial .jw-testimonials__date {
  align-self: center;
  text-align: center;
  order: 7;
}

.elementor-element-slider-testimonial .jw-testimonials__rating {
  font-size: 20px;
  order: 8;
}