/* Slider de las 5 estrategias */

.sliderContainer {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: black;
}

#sliderContent {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#sliderArrows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
}

#slideLeft {
  margin-left: 15px;
  cursor: pointer;
  z-index: 3;
}

#slideRight {
  margin-right: 15px;
  cursor: pointer;
  z-index: 3;
}

#sliderImages {
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  transition: ease 0.6s;
  max-height: 500px;
  max-width: 900px;
}

#sliderImages img {
  width: 100%;
  height: auto;

}

#sliderIndicators {
  width: 100%;
  height: 100%;
  color: black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
}

.indicator {
  margin: 0 0 10px 5px;
  cursor: pointer;
}

.indicator.active {
  color: white;
}