/*********************
*SECCION 5 Estrategias 
*********************/

.elementor-element-section-5-fases {
  margin-top: 0px;
  margin-bottom: 50px;
}

.elementor-element-section-5-fases>.elementor-container {
  max-width: 560px;
}

.elementor-element-5-fases,
.elementor-element-container-aceleradora,
.elementor-element-container-nuestras-marcas {
  text-align: center;
}

.elementor-element-5-fases>.elementor-widget-container {
  margin: 0px 0px 15px 0px;
}

.elementor-element-container-aceleradora>.elementor-widget-container {
  margin: 0px 0px 10px 0px;
}


.elementor-element-container-fase-1>.elementor-element-populated {
  margin: 0px 15px 0px 0px;
}


.elementor-element-clickafy,
.elementor-element-lead-converter,
.elementor-element-lead-generator,
.elementor-element-diferenciate {
  --icon-box-icon-margin: 15px;
}

.elementor-element-clickafy .elementor-icon,
.elementor-element-lead-converter .elementor-icon,
.elementor-element-lead-generator .elementor-icon,
.elementor-element-diferenciate .elementor-icon,
.elementor-element-impulsate .elementor-icon {
  font-size: 40px;
}

.elementor-element-clickafy .elementor-icon-box-wrapper,
.elementor-element-lead-converter .elementor-icon-box-wrapper,
.elementor-element-lead-generator .elementor-icon-box-wrapper,
.elementor-element-diferenciate .elementor-icon-box-wrapper {
  text-align: left;
}

.elementor-element-clickafy .elementor-icon-box-title,
.elementor-element-lead-converter .elementor-icon-box-title,
.elementor-element-lead-generator .elementor-icon-box-title,
.elementor-element-impulsate .elementor-icon-box-title,
.elementor-element-diferenciate .elementor-icon-box-title {
  margin-bottom: 15px;
}

.elementor-element-clickafy .elementor-icon-box-title,
.elementor-element-clickafy .elementor-icon-box-title a,
.elementor-element-lead-converter .elementor-icon-box-title,
.elementor-element-lead-converter .elementor-icon-box-title a,
.elementor-element-lead-generator .elementor-icon-box-title,
.elementor-element-lead-generator .elementor-icon-box-title a,
.elementor-element-impulsate .elementor-icon-box-title,
.elementor-element-impulsate .elementor-icon-box-title a,
.elementor-element-diferenciate .elementor-icon-box-title,
.elementor-element-diferenciate .elementor-icon-box-title a {
  font-size: 28px;
}

.elementor-element-clickafy .elementor-icon-box-description,
.elementor-element-lead-converter .elementor-icon-box-description,
.elementor-element-lead-generator .elementor-icon-box-description,
.elementor-element-impulsate .elementor-icon-box-description,
.elementor-element-diferenciate .elementor-icon-box-description {
  font-size: 12px;
}

.elementor-element-clickafy.elementor-view-stacked .elementor-icon,
.elementor-element-lead-converter.elementor-view-stacked .elementor-icon,
.elementor-element-impulsate.elementor-view-stacked .elementor-icon,
.elementor-element-diferenciate.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-element-clickafy.elementor-view-framed .elementor-icon,
.elementor-element-clickafy.elementor-view-default .elementor-icon,
.elementor-element-lead-converter.elementor-view-framed .elementor-icon,
.elementor-element-lead-converter.elementor-view-default .elementor-icon,
.elementor-element-lead-generator.elementor-view-framed .elementor-icon,
.elementor-element-lead-generator.elementor-view-default .elementor-icon,
.elementor-element-impulsate.elementor-view-framed .elementor-icon,
.elementor-element-impulsate.elementor-view-default .elementor-icon,
.elementor-element-diferenciate.elementor-view-framed .elementor-icon,
.elementor-element-diferenciate.elementor-view-default .elementor-icon {
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-element-revoluciona>.elementor-widget-container,
.elementor-element-acelera-negocio>.elementor-widget-container {
  margin: 0px 0px 15px 0px;
}

.elementor-element-container-fase-2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.elementor-element-impulsate .elementor-icon-box-wrapper {
  text-align: left;
  padding-top: 30px;
}

.elementor-element-seccion-strateg {
  padding-top: 50px;
}

.elementor-element-seccion-strateg:not(.elementor-motion-effects-element-type-background),
.elementor-element-seccion-strateg>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}


.elementor-element-seccion-somos:not(.elementor-motion-effects-element-type-background),
.elementor-element-seccion-somos>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-element-seccion-somos {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}


.elementor-element-col-mask-image.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-element-col-mask-image.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-element-col-mask-image>.elementor-element-populated {
  margin: 0px 0px 0px 30px;
}

.elementor-element-container-text-numeros {
  text-align: center;
}


/*********************
*MEDIA QUERIES / BREAKPOINTS
*********************/


@media(max-width:1024px) {
  .elementor-element-container-fase-1>.elementor-element-populated {
    margin: 0px 5px 0px 0px;
  }

  .elementor-element-clickafy {
    --icon-box-icon-margin: 0px;
  }

  .elementor-element-clickafy .elementor-icon-box-title,
  .elementor-element-lead-converter .elementor-icon-box-title,
  .elementor-element-lead-generator .elementor-icon-box-title,
  .elementor-element-impulsate .elementor-icon-box-title,
  .elementor-element-diferenciate .elementor-icon-box-title {
    margin-bottom: 5px;
  }

  .elementor-element-lead-converter,
  .elementor-element-lead-generator,
  .elementor-element-impulsate,
  .elementor-element-diferenciate {
    --icon-box-icon-margin: 0px;
  }

  .elementor-element-impulsate .elementor-icon-box-wrapper {
    padding-top: 12px;
  }

  .elementor-element-seccion-somos {
    padding: 50px 15px 50px 15px;
  }

}

@media(max-width:767px) {

  .elementor-element-container-fase-2 {
    margin-top: 15px;
    margin-bottom: 0px;
  }


  .elementor-element-col-mask-image>.elementor-element-populated {
    margin: 0px 0px 30px 0px;

  }

  .elementor-element-image-mask1 img {
    width: 100%;
  }

  .elementor-element-container-fase-1>.elementor-element-populated {
    margin: 0px 0px 15px 0px;

  }

  .elementor-element-seccion-galeria {
    padding: 0px 15px 0px 15px;
  }

}

@media (min-width:768px) and (max-width:1024px) {

  .elementor-element-container-contador-webs,
  .elementor-element-container-contador-leads-gen,
  .elementor-element-container-contador-consultas,
  .elementor-element-container-contador-sectores {
    width: 50%;
  }

}

/******************
* Carousel o Slider  de las 5 estrategias
******************/

/* .sliderContainer {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: black;
}

#sliderContent {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#sliderArrows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
}

#slideLeft {
  margin-left: 15px;
  cursor: pointer;
  z-index: 3;
}

#slideRight {
  margin-right: 15px;
  cursor: pointer;
  z-index: 3;
}

#sliderImages {
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  transition: ease 0.6s;
  max-height: 500px;
  max-width: 900px;
}

#sliderImages img {
  width: 100%;
  height: auto;

}

#sliderIndicators {
  width: 100%;
  height: 100%;
  color: black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
}

.indicator {
  margin: 0 0 10px 5px;
  cursor: pointer;
}

.indicator.active {
  color: white;
} */


/******************
* NUEVO Carousel o Slider  de las 5 estrategias
******************/

.sliderEstrategias {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.estrategias {
  background-color: #0B1A21;
  ;
  padding: 130px 0 150px;
  color: #ffffff;
  position: relative;
}

.estrategias:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.estrategias .sliderEstrategias h2 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

.estrategias p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}

/* Image */
.estrategias .carousel-inner .carousel-item .teamA {
  width: 100px;
  height: 100px;
  border: 2px solid #212B2F;
  border-radius: 100%;
  padding: 5px;
  margin: 50px 0 15px;
}

.estrategias .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.estrategias .carousel-indicators {
  bottom: -30px;
}

.estrategias .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.estrategias .carousel-indicators .active {
  background-color: #212B2F;
}

.estrategias .control span {
  cursor: pointer;
}

.estrategias .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}