.elementor-hidden {
  display: none
}

.elementor-screen-only {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

/* BOTON ULTIMO */
.elementor *,
.elementor :after,
.elementor :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.elementor a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none
}

.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
  margin: 0
}

.elementor .elementor-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute
}

.elementor-container>.elementor-element.elementor-absolute,
.elementor-widget-wrap>.elementor-element.elementor-absolute {
  position: absolute
}

.elementor-container>.elementor-element.elementor-fixed,
.elementor-widget-wrap>.elementor-element.elementor-fixed {
  position: fixed
}

.elementor-widget-wrap .elementor-element.elementor-widget__width-auto,
.elementor-widget-wrap .elementor-element.elementor-widget__width-initial {
  max-width: 100%
}

.elementor-invisible {
  visibility: hidden
}

.elementor-align-right {
  text-align: right
}

.elementor-align-right .elementor-button {
  width: auto
}

.elementor-align-left {
  text-align: left
}

.elementor-align-left .elementor-button {
  width: auto
}

.elementor-align-justify .elementor-button {
  width: 100%
}

@media (max-width:767px) {

  .elementor-mobile-align-justify .elementor-button {
    width: 100%
  }
}

@media (max-width:1024px) {
  .elementor-section .elementor-container {
    flex-wrap: wrap
  }
}

@media (min-width:768px) {

  .elementor-column.elementor-col-20,
  .elementor-column[data-col="20"] {
    width: 20%
  }

  .elementor-column.elementor-col-25,
  .elementor-column[data-col="25"] {
    width: 25%
  }

  .elementor-column.elementor-col-50,
  .elementor-column[data-col="50"] {
    width: 50%
  }

  .elementor-column.elementor-col-100,
  .elementor-column[data-col="100"] {
    width: 100%
  }
}

@media (max-width:767px) {
  .elementor-reverse-mobile>.elementor-container>:first-child {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(2) {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(3) {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(4) {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(5) {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(6) {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(7) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(8) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(9) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }

  .elementor-reverse-mobile>.elementor-container>:nth-child(10) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }

  .elementor-column {
    width: 100%
  }
}

.elementor-button {
  display: inline-block;
  line-height: 1;
  background-color: #818a91;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}