/* Sección Equipo */

/* Slider del apartado equipo para esconder contenido saliente */
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

/* Nuestros expertos */
.jw-team-member .jw-team-member__name {
  font-size: 20px;
  color: black;
  margin: 10px 0;
}

.jw-team-member__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.jw-team-member__inner,
.jw-team-member__socials-item .inner,
.jw-testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.jw-testimonials.jw-equal-cols .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.jw-testimonials__figure {
  position: relative;
  overflow: hidden
}

/* Botones testimonios*/
.jw-testimonials .jw-slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 99
}

.jw-testimonials .jw-slick-dots li {
  padding: 5px;
  margin: 0;
  list-style: none
}

.jw-testimonials .jw-slick-dots li span {
  display: block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  text-indent: -10em;
  overflow: hidden;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear
}