/* MENU */

.elementor-item:after,
.elementor-item:before {
  display: block;
  position: absolute;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: cubic-bezier(.58, .3, .005, 1);
  -o-transition-timing-function: cubic-bezier(.58, .3, .005, 1);
  transition-timing-function: cubic-bezier(.58, .3, .005, 1);
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #55595c;
  z-index: 2;
  content: "";
  bottom: 0
}

.elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  opacity: 0
}

.elementor-nav-menu--main .elementor-nav-menu ul {
  position: absolute;
  width: 12em;
  border-width: 0;
  border-style: solid;
  padding: 0
}


.elementor-nav-menu,
.elementor-nav-menu li,
.elementor-nav-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  background-color: #09161C;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.elementor-nav-menu a,
.elementor-nav-menu li {
  position: relative
}

.elementor-nav-menu a {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.elementor-nav-menu a,
.elementor-nav-menu a:focus,
.elementor-nav-menu a:hover {
  padding: 10px 20px;
  line-height: 20px
}

.elementor-nav-menu .sub-arrow {
  line-height: 1;
  padding: 10px 0 10px 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}


.elementor-nav-menu--dropdown .elementor-item:focus,
.elementor-nav-menu--dropdown .elementor-item:hover,
.elementor-sub-item:focus,
.elementor-sub-item:hover {
  background-color: #55595c;
  color: #fff
}


/* ELEMENT cf6029f NAV */
.elementor-element-cf6029f .elementor-menu-toggle {
  margin: 0 auto;
}

.elementor-element-cf6029f .elementor-nav-menu--main .elementor-item {
  font-size: 18px;
  color: #FFFFFF;
  fill: #FFFFFF;
}


/* MENU MOBILE */

.navigation-mobile {
  height: 70px;
  background-color: #09161C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;

}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
  padding-left: 20px;
}

.brand a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  line-height: 70px;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  /* content: '  ▾'; */
}

nav ul li ul li {
  min-width: 160px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

/* Mobile Hamburger Menu */

.nav-mobile {
  display: none;
  height: 70px;
  width: 70px;
  position: absolute;

  top: 0;
  right: 0;
  background-color: #09161C;
}

/* Media Query for Navigation */

@media (min-width:1025px) {

  .elementor-nav-menu--dropdown-tablet .elementor-menu-toggle,
  .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--dropdown {
    display: none
  }
}

@media (max-width:1024px) {
  .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--main {
    display: none
  }
}

@media (min-width: 1024px) {

  .navigation-mobile {
    display: none;
  }

}

@media only screen and (max-width: 800px) {

  .elementor-element-38528d87>.elementor-container>.elementor-column>.elementor-widget-wrap {
    min-height: 0vh;

  }

  .navEscritorio {
    display: none;
  }

  .navigation-mobile {
    display: block;
  }

  .nav-mobile {
    display: block;
  }

  nav ul li a:not(:only-child):after {
    content: '  ▾';
  }

  nav ul li a:hover {
    background: #55595C;
    color: #ffffff;
    transition: .4s;
  }

  nav {
    width: 100%;
    padding: 0 15px;
    background-color: #09161C;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 40px;

  }

  .nav-dropdown {
    position: static;
  }
}


@media screen and (min-width: 800px) {
  .navigation-mobile {
    display: none;
  }

  .nav-list {
    display: block !important;
  }

}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}