/*********************
*SECCION Preguntas Frecuentes FAQ
*********************/
.elementor-element-text-faq,
.elementor-element-h2-faq,
.elementor-element-text-span-faq {
  text-align: center;
}


.elementor-element-seccion-faq {
  padding: 50px 15px 50px 15px;
}

.elementor-element-faq-page {
  margin-top: 0px;
  margin-bottom: 50px;
}

.elementor-element-faq-page>.elementor-container {
  max-width: 560px;
}

.elementor-element-seccion-faq:not(.elementor-motion-effects-element-type-background),
.elementor-element-seccion-faq>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../img/faq-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.elementor-element-seccion-faq {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}

/****************
* FAQ Accordion 
****************/
.elementor-element-accordion .pp-accordion-item {
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #132C38;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.elementor-element-accordion .pp-advanced-accordion .pp-accordion-tab-title .pp-accordion-tab-icon {
  font-size: 14px;
  margin-right: 10px;
}

.elementor-element-accordion .pp-advanced-accordion .pp-accordion-item .pp-accordion-tab-content {
  color: #E5E5E5;
}

.elementor-element-accordion .pp-advanced-accordion .pp-accordion-tab-title .pp-accordion-toggle-icon {
  font-size: 16px;
}

.pp-advanced-accordion {
  margin: 30px 0px 0px 0px
}

.pp-advanced-accordion .pp-accordion-tab-title {
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: 0
}

.pp-accordion-tab-active-default .pp-accordion-toggle-icon-close,
.pp-accordion-tab-show .pp-accordion-toggle-icon-close,
.pp-accordion-toggle-icon-open {
  display: none
}

.pp-accordion-tab-active-default .pp-accordion-toggle-icon-open,
.pp-accordion-tab-show .pp-accordion-toggle-icon-open {
  display: inline-block
}

.pp-accordion-tab-content {
  display: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.7
}

.pp-accordion-tab-content p:last-child {
  margin: 0
}

.pp-accordion-tab-content.pp-accordion-tab-active {
  display: block
}

/*********************
*MEDIA QUERIES / BREAKPOINTS
*********************/


@media(max-width:1024px) {

  .elementor-element-seccion-faq {
    padding: 50px 15px 50px 15px;
  }

}

@media(max-width:767px) {

  .elementor-element-container-acordeon>.elementor-element-populated {
    margin: 0px 0px 0px 0px;

  }

  .elementor-element-col-mask-image>.elementor-element-populated {
    margin: 0px 0px 30px 0px;
  }

  .elementor-element-image-mask2 img {
    width: 100%;
  }
}