.itemPosition {
  display: flex;
}

.centerPosition {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials p {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
  max-width: 75ch;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 5px;

}

.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin: initial;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 14px;
  font-weight: 300;
  color: #e2e1e1;
  margin-bottom: 20px;
}

.testimonials .carousel-indicators {
  bottom: -40px;
}

.testimonials .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.testimonials .carousel-indicators .active {
  background-color: #F56F01;
}

.testimonials .control span {
  cursor: pointer;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}